    $oscuro:rgba (0,0,0,0.2);


    footer {
    color: white;
    background-color:#333; }




    .card {
        box-shadow: 0 4px 8px 0 $oscuro;
        }
    
    
        .card:hover {
        box-shadow: 0 8px 16px 0 $oscuro;
        }
    
    
        .card {
        transition: 0.3s;
        border-radius: 5px; 
        }
